@font-face {
  font-family: "DinPro Condensed";
  src: url(font/din/DINPro-CondBlack.otf);
  font-weight: 800;
}
@font-face {
  font-family: "DinPro Condensed";
  src: url(font/din/DINPro-CondBold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "DinPro Condensed";
  src: url(font/din/DINPro-CondMedium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "DinPro Condensed";
  src: url(font/din/DINPro-CondRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "DinPro Condensed";
  src: url(font/din/DINPro-CondLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: "DinPro Condensed";
  src: url(font/din/DINPro-CondMedium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "DinPro Condensed";
  src: url(font/din/DINPro-CondRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "DinPro";
  src: url(font/din/DINPro-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "DinPro";
  src: url(font/din/DINPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "DinPro";
  src: url(font/din/DINPro-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "DinPro";
  src: url(font/din/DINPro-Black.otf);
  font-weight: 800;
}
